.footer__top {
	padding: 178px 80px;

	color: var(--color-white);
	background-color: var(--color-bg-footer);

	@media(max-width: 1250px) {
		padding: 178px 110px 60px;
	}

	@media(max-width: 960px) {
		padding: 178px 50px 60px;
	}

	@media(max-width: 730px) {
		padding: 145px 25px 30px
	}

	@media(max-width: 460px) {
		padding: 145px 0px 30px;
	}
}

.footer__top-inner {
	display: flex;
	align-items: center;
	column-gap: 44px;

	@media(max-width: 1250px) {
		flex-direction: column;
		column-gap: 0px;
		row-gap: 50px;
	}

	@media(max-width: 460px) {
		row-gap: 30px;
	}
}

.footer__top-left {
	width: 456px;

	@media(max-width: 1250px) {
		width: 100%;
	}
}

.footer-left__title {
	margin-bottom: 17px;

	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.footer-left__text {
	margin-bottom: 80px;

	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

	@media(max-width: 1250px) {
		margin-bottom: 20px;
	}
}

.footer-left__links {
	margin-bottom: 32px;

	display: flex;
	align-items: center;
	column-gap: 24px;

	@media(max-width: 460px) {
		flex-direction: column;
		row-gap: 10px;
		column-gap: 0px;
		align-items: start;
	}
}

.footer-left__link {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-decoration-line: underline;
}

.footer-left__socials {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.footer__top-right {
	display: flex;
	column-gap: 120px;

	@media(max-width: 960px) {
		column-gap: 35px;
	}

	@media(max-width: 730px) {
		flex-direction: column;
		column-gap: 0px;
		row-gap: 40px;
	}

	@media(max-width: 460px) {
		width: 100%;
	}
}

.footer__top-menu {
	width: 280px;

	display: flex;
	flex-direction: column;
	row-gap: 16px;

	@media(max-width: 460px) {
		width: 100%;
	}
}

.footer-menu__title {
	margin-bottom: 4px;

	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}

.footer-menu__item {
	padding-left: 14px;
	display: flex;
	justify-content: space-between;
	column-gap: 8px;

	position: relative;
}

.footer-menu__item::after {
	content: '';
	position: absolute;
	background-image: url(../images/icons/arrow-right.svg);
	background-repeat: no-repeat;
	height: 10px;
	width: 6px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.footer-menu__link {
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	transition: color 350ms ease-in;
	position: relative;
	padding-bottom: 1px;
}

.footer-menu__link:hover {
	color: var(--color-orange);
}

.footer-menu__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0px;
	height: 1px;
	background-color: var(--color-orange);
	transition: width 350ms ease-in;
}

.footer-menu__link:hover::before {
	width: 100%;
}

.footer-menu__link-new {
	display: flex;
	padding: 2px 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 4px;
	background-color: var(--color-white);
	color: var(--color-dark-green);

	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-transform: lowercase;
}